{% extends 'base.html.twig' %}

{% block body_class %}class="off-canvas-sidebar"{% endblock %}

{% block body %}
    <div class="wrapper wrapper-full-page">
        <div class="full-page login-page" filter-color="black">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <div class="card card-login">
                                <div class="card-header text-center" data-background-color="blue">
                                    <h4 class="card-title">Connexion</h4>
                                </div>
                                <div class="footer text-center">
                                    <a href="{{ hwi_oauth_login_url('facebook') }}" class="btn btn-primary btn-simple btn-wd btn-lg">Connexion via Facebook</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="full-page-background" style="background-image: url({{ asset('img/login.jpeg') }})"></div>
        </div>
    </div>
{% endblock %}