.main-panel>.content
{
    margin-top: auto;
}

.card-login i
{
    overflow: auto;
    display: initial;
}

.sidebar .user .photo
{
    margin-top: -5px;
}

.sidebar .logo a.logo-mini
{
    width: 40px;
}
