{% extends 'layout.html.twig' %}

{% block title %}Edit Compte{% endblock %}

{% block body_layout %}
    <h1>Association User / Banque</h1>

    {% for banque in banques %}
        {{ banque.name }} -
    {% endfor %}

    {{ include('_form.html.twig') }}
{% endblock %}