<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/material.css') }}">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body {% block body_class %}{% endblock %}>
        {% block body %}{% endblock %}

        <script type="text/javascript" src="{{ asset('assets/manifest.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/material.js') }}"></script>
    </body>
</html>
